body{
    font-family: Arial;
}

/* Navbar */

.navbar{
    padding:0;
    background-color: #fff;
}

.navbar-brand{
    position: absolute;
    top: 0;
    left: 75px;
}

#navbar-logo{
    height: 165px;
    transition: height 1s ease;
}

#navbar-logo.shrink{
    height: 100px;
}

.navbar-brand{
    height: 50px;
    border-left: 10px solid #904282;
    border-right: 10px solid #904282;
}
.navbar-toggler{
    border: 3px solid #904282;
}

.navbar-toggler-icon{
    height: 3px;
    width: 25px;
    border-top: 3px solid #904282;
    display: block;
    margin: 5px;
}
.navbar-nav .nav-link{
    border-radius:0;
    text-transform: uppercase;
}

#menu-dropdown{
    background: transparent;
    border: 0;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 767px) {
    #menu-dropdown{
        padding: 10px;
    }
}

#menu-dropdown:focus{
    outline: 0;
}

#menu-dropdown-menu{
    left: auto;
    right: 0;
    padding: 0;
}

#violet{
    padding: 5px 10px 0 10px;
}

@media (max-width: 991px) {
    .navbar-brand{
        left: 25px;
    }
}

@media (max-width: 767px) {
    #navbar-logo {
        height: 120px;
    }

    .navbar-brand{
        height: 63px;
        left: 15px;
    }
    .navbar{
        flex-direction: column;
    }

    .navbar-toggler{
        align-self: flex-end;
        margin: 10px;
    }

    .navbar-collapse{
        width: 100%;
        z-index: 1;
    }

    .navbar-nav .nav-link{
       padding: 10px;
    }
}


/* Slider */

.slide{
    height: 490px;
    background-size: cover;
    position: relative;
}
.slide-text {
    text-shadow: 0px 0px 11.18px rgba(0, 0, 0, 0.56);
    color: #fff;
    position: absolute;
    top: 40%;
    left: 87px;
}

.slide-title{
font-size: 46px;
}

.slide-content{
font-size: 22px;
}

@media (max-width: 991px) {
    .slide-text{
        left: 25px;
    }
}

@media (max-width: 767px) {
    .slide{
        height: 300px;
    }

    .slide-text{
        left: 15px;
    }

    .slide-title {
        font-size: 36px;
    }

    .slide-content {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .slide{
        height: 300px;
    }


    .slide-title {
        font-size: 26px;
    }

    .slide-content {
        font-size: 14px;
    }
}

/* Content */

#sub-link a{
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.purple-link{
    color: #fff;
    background-color: #904282;
    padding: 10px 20px;
    border:2px solid #904282;
    border-radius: 5px;
}

.purple-link:hover{
    color: #904282;
    background-color: #fff;
    text-decoration: none;
}

#sub-link .purple-link, #menu-dropdown-menu .purple-link{
    border-radius: 0;
}

.green-link{
    color: #fff;
    background-color: #839703;
    padding: 10px 20px;
    border:2px solid #839703;
}

.green-link:hover{
    color: #839703;
    background-color: #fff;
    text-decoration: none;
}

#parallax {
    min-height: 400px;
    background: transparent;
    padding-bottom: 45px;
}

.white-block{
    background-color: rgba(255,255,255, 0.85);
    padding: 15px;
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.56);
}

/* Welcome */
#welcome{
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 48px;
    padding: 60px 0 75px 0;
}

@media (max-width: 991px) {
    #welcome{
        padding: 30px 0 35px 0;
    }
}

@media (max-width: 767px) {
    #welcome{
        font-size: 28px;
        line-height: 38px;
    }
}

/* Intro */

#intro{
    font-size: 20px;
}

#intro-left{
    padding-left: 0;
}

@media (max-width: 767px) {
    #intro-left{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
    }
}

#intro-right{
    text-align: center;
}

@media (max-width: 767px) {
    #intro-right{
       padding-bottom: 20px;
    }
}

/* Aktualis */

#aktualis{
    text-align: center;
    font-size: 22px;
    margin-top: 90px;
    margin-bottom: 25px;
}

#aktualis-maintitle{
    font-size: 32px;
    font-weight: bold;
}

#aktualis-row a{
    margin-bottom: 40px;
}

.aktualis-img{
    width: 100%;
}

.item-title{
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.56);
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    padding: 5px;
    font-size: 18px;
    width: 75%;
    text-align: center;
    color: #000;
    left: 0;
    right: 0;
    margin: auto;
}


#aktualis-link{
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 991px) {
    #aktualis{
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

/* Footer */

footer{
    background-color: #d2e9fc;
    font-size: 20px;
    color: #000;
    margin-top: 15px;
}

#contact-maintitle{
    margin-top: 30px;
}

.contact{
    margin-bottom: 45px;
}

.contact-link{
    font-size: 18px;
    color: #30708f;
}

.contact-link a, .contact-link a:hover{
    color: #000;
    text-decoration: none;
}

#copyright{
    margin-bottom: 40px;
}

#copyright, #copyright a, #copyright a:hover{
    color: #31708f;
    text-decoration: none;
}

#footer-menu{
    background-color: #fff;
    text-align: center;
    padding: 55px 0 105px 0;
    color: #000;
    font-size: 14px;
}

#footer-menu a, #footer-menu a:hover{
    color: #000;
    text-decoration: none;
}

#footer-menus{
    margin: 40px 0 15px 0;
}

.footer-menu-link{
    font-size: 20px;
    margin-right: 10px;
}

#footer-right{
    background-color: #fff;
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.56);
    margin-top: -25px;
    margin-bottom: -20px;
    padding: 0;
}

#footer-right-title{
    background-color: #d2e9fc;
    text-align: center;
    padding: 20px 0;
}

#footer-form{
    text-align: right;
    padding: 0 40px;
}
@media (max-width: 1199px) {
    #footer-form {
        text-align: left;
    }
}

@media (max-width: 991px){
    #footer-form{
        padding: 0 20px;
    }
}

#footer-right .form-control{
    background-color: #d2e9fc;
    border-radius: 0;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 15px;
}

#footer-right textarea{
    height: 78px;
}

#footer-right .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #747474;
}
#footer-right .form-control::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #747474;
}
#footer-right .form-control:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    color: #747474;
}
#footer-right .form-control:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    color: #747474;
}

#footer-form-product{
    text-align: left;
    margin: 16px 0 32px 0;
}

#footer-form-product span{
    font-size: 24px;
}

.footer-radio{
    padding: 0;
}

#footer-submit-container{
    text-align: right;
}

#csend{
    width: 130px;
}

#footer-form-note{
    text-align: center;
    font-size: 15px;
    padding: 25px 0 20px 0;
}

/* Scroll to top */

#myBtn {
    display: none;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    width: 48px;
    z-index: 2;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/* Css animations*/
.fade-in {
    webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-2-12 15:41:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2018-2-19 10:0:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Tortak */

#tortak {
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 48px;
    padding: 60px 0 75px 0;
}

@media (max-width: 991px) {
    #tortak{
        padding: 30px 0 35px 0;
    }
}

@media (max-width: 767px) {
    #tortak{
        font-size: 28px;
        line-height: 38px;
    }
}

.item-title2{
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.56);
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    padding: 10px 0;
    font-size: 18px;
    width: 50%;
    text-align: center;
    color: #000;
    left: 0;
    right: 0;
    margin: auto;
}

.torta-item{
    margin-bottom: 40px;
}

.torta-item1{
    position: relative;
}

.torta-desc{
    font-size: 12px;
    color: #000;
    text-align: center;
    background-color: #d2e9fc;
    padding: 15px 30px;
    width: 60%;
    margin: 15px auto 0 auto;
}

.torta-category{
    position: relative;
    margin-top: 20px;
}

.torta-category-content{
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}


.torta-category-content span{
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.56);
    background-color: #fff;
    padding: 15px;
}

@media (max-width: 1199px) {
    .torta-desc{
        width: 80%;
    }
}

@media (max-width: 991px) {
    .torta-desc{
        padding: 15px;
    }

    .item-title2{
        width: 80%;
    }
}

@media (max-width: 575px) {
    .torta-desc{
        width: 100%;
    }
}

.torta-block{
    margin-bottom: 20px;
}

.torta-block hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #000;
}

.torta-img{
    width: 100%;
}

.torta-title{
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 25px;
}

.torta-content{
    margin-bottom: 30px;
}

.torta-blue{
    margin-bottom: 20px;
}

.torta-blue span{
    font-size: 22px;
    background-color: #d2e9fc;
    padding: 10px;
}

.torta-block .purple-link{
    cursor: pointer;
}